# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# Environment files
.env

# Data outputs / temporary files
*.csv
*.parquet